//? VARIABLES
$primary: #fffbf8;
$secondary: rgb(101, 190, 137);
$light: #fffbf8;
$dark: rgb(48, 48, 48);

$body-bg: $primary;
$body-color: $dark;
$font-size-xs: 1.2rem;
$font-size-sm: 1.6rem;
$font-size-md: 2rem;
$font-size-lg: 4rem;
$font-size-xl: 10rem;
$font-size-xxl: 14rem;

$navbar-toggler-font-size: 2rem;

$hr-color: $dark;
$hr-height: 2px;
$hr-opacity: 1;

$table-border-width: 2px;
$table-border-color: $dark;
$navbar-light-color: $dark;
$navbar-light-hover-color: $secondary;
$link-color: $dark;
$link-decoration: none;
$link-hover-color: $secondary;
