@import "../scss/fonts";
@import "../scss/variables";
@import "../scss/mixin";
@import "../../node_modules/bootstrap/scss/bootstrap";

//? RESET
:root {
  font-size: 62.5%;
}

//? Navbar
body {
  font-family: "LatoWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  @extend .nav-link;
  font-size: 3rem;
}
.nav-item {
  font-size: $font-size-sm;
}

//? Hero

.hero {
  @include container-xs;
  @include container-md;
  @include media-breakpoint-up(md) {
    padding-top: 10rem;
  }
  p {
    font-size: $font-size-xs;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-sm;
      padding-bottom: 8rem;
      padding-left: 10rem;
    }
  }
}
.hero-logo {
  font-family: "LatoWebBlack";
  font-size: $font-size-lg;
  @include media-breakpoint-up(md) {
    font-size: $font-size-xl;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-xxl;
  }
}

.ruler {
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
}

//? Project-Details
.project-details {
  @include container-xs;
  @include container-md;
  margin-top: 5rem;
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
  p {
    font-size: $font-size-lg;
    text-align: center;
    margin-top: 5rem;
    @include media-breakpoint-up(md) {
      text-align: left;
      font-size: $font-size-md;
      font-family: "LatoWebBlack";
      padding-left: 10rem;
      margin-top: 0;
    }
  }
}
.table {
  font-family: "LatoWebBlack";
  font-size: $font-size-xs;

  @include media-breakpoint-up(md) {
    font-size: $font-size-sm;
  }
}
.arrow {
  height: 5rem;
}

//? Project-gallery
.project-gallery {
  img {
    object-fit: cover;
  }
  @include container-md;
  .row {
    margin-top: 5rem;
  }
  p {
    padding: 0 5rem;
    font-size: $font-size-xs;
    margin: 2rem 0;
    text-align: justify;
    @include media-breakpoint-up(md) {
      font-size: $font-size-md;
    }
    @include media-breakpoint-up(lg) {
      text-align: left;
      font-size: $font-size-md;
      font-family: "LatoWebBlack";
      margin-top: 0;
    }
  }
}

//? Footer
footer {
  min-height: 18rem;
  font-size: $font-size-xs;

  @include media-breakpoint-up(lg) {
    font-family: "LatoWebBlack";
    font-size: $font-size-md;
  }
}
