@import "../scss/fonts";
@import "../scss/variables";
@import "../scss/mixin";
@import "../scss/animations";
@import "../../node_modules/bootstrap/scss/bootstrap";

//? RESET
:root {
  font-size: 62.5%;
}
::selection {
  background-color: lighten($secondary, 30%);
}

body {
  font-family: "LatoWeb", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  z-index: 1;
}

footer {
  min-height: 18rem;
  font-size: $font-size-xs;

  @include media-breakpoint-up(lg) {
    font-family: "LatoWebBlack";
    font-size: $font-size-md;
  }
}

//? Navbar

.logo {
  @extend .nav-link;
  font-size: $font-size-md;
  @include media-breakpoint-up(md) {
    font-size: 3rem;
  }
}
.nav-item {
  font-size: $font-size-md;
  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
  }
}

//? Project-main
.cstm-cont {
  @include container-xs;
  @include container-md;
}

.project-main {
  @include media-breakpoint-up(md) {
    padding-top: 10rem;
  }
  @include media-breakpoint-up(md) {
    @include slide-in-left;
  }
  p {
    font-size: $font-size-sm;
    @include media-breakpoint-up(lg) {
      padding-bottom: 8rem;
      padding-left: 10rem;
    }
  }
}
.project-logo {
  font-family: "LatoWebBlack";
  font-size: $font-size-lg;
  @include media-breakpoint-up(md) {
    font-size: $font-size-xl;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-xxl;
  }
}

.ruler {
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
}
//! Projects
//? Project-Details
.project-details {
  margin-top: 5rem;
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
  p {
    font-size: $font-size-md;
    text-align: center;
    margin-top: 5rem;
    @include media-breakpoint-up(md) {
      text-align: left;
      font-family: "LatoWebBlack";
      padding-left: 10rem;
      margin-top: 0;
    }
  }
}
.table {
  font-family: "LatoWebBlack";
  font-size: $font-size-sm;
}
.arrow {
  height: 5rem;
}

//? Project-gallery
.project-gallery {
  margin-top: 5rem;
  margin-bottom: 10rem;
  img {
    object-fit: contain;
    @include media-breakpoint-up(md) {
      max-width: 60%;
    }
  }
  @include container-md;
  div {
    @include media-breakpoint-up(md) {
      margin-top: 5rem;
    }
  }
  p {
    padding: 0 2rem;
    font-size: $font-size-sm;
    margin: 2rem 0;
    text-align: justify;
    @include media-breakpoint-up(md) {
      font-size: $font-size-md;
      text-align: left;
      max-width: 40vw;
    }
    @include media-breakpoint-up(lg) {
      font-size: $font-size-md;
      font-family: "LatoWebBlack";
      margin-top: 0;
      max-width: 30vw;
    }
  }
}

//! Projects end
//! Contact

.contact {
  min-height: 60vh;
  margin-top: 10rem;
  margin-bottom: 10rem;
  @include media-breakpoint-up(md) {
    margin-top: 10rem;
  }
  h2 {
    font-family: "LatoWebBlack";
    font-size: $font-size-lg;
  }
  font-size: $font-size-md;
  img {
    width: 100%;
    box-shadow: 5px 5px 0px 0px $dark;
  }
}

//! Contact end
//! Home/About

//? Hero

.hero {
  margin-top: 5rem;
  @include media-breakpoint-up(md) {
    @include slide-in-left;
  }
  h1 {
    font-family: "LatoWebBlack";
    font-size: $font-size-lg;
    text-transform: uppercase;
    overflow-wrap: break-word;
    @include media-breakpoint-up(md) {
      font-size: $font-size-xl;
    }
  }
  p {
    font-size: $font-size-sm;
    @include media-breakpoint-up(md) {
      font-size: $font-size-md;
    }
  }
  img.main {
    width: 100%;
  }
  a {
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  span {
    vertical-align: middle;
  }
  .arrow {
    height: 2rem;
  }
}
//? About
.about {
  margin-top: 10rem;
  margin-bottom: 10rem;
  @include media-breakpoint-up(md) {
    margin-top: 20rem;
  }
  h2 {
    font-size: $font-size-lg;
    font-family: "LatoWebBlack";
  }
  h3 {
    font-family: "LatoWebBlack";
  }
  p {
    font-size: $font-size-sm;
  }
  img:first-child {
    width: 100%;
    object-fit: contain;
    box-shadow: 5px 5px 0px 0px $dark;
  }
}

.contact-btn {
  margin-top: 10rem;
  @include pulse;
}

//! Impressum
.impressum {
  min-height: 60vh;
  margin-top: 10rem;

  p {
    font-size: $font-size-md;
  }
}

//* Lightbox

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-project {
  cursor: pointer;
}

#lightbox img {
  max-width: 80%;
  max-height: 90%;
  padding: 4px;
}
